<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/navigation.ejs %>

    <h3>About</h3>

    <p>My name is Christopher, the Moon is made of CHEESE!!</p>

  </body>
</html>
